{% for post in site.posts %}
  {% if post.featured == true %}
    {% assign is-featured = true %}
  {% endif %}
{% endfor %}

{% if is-featured == true %}
<!-- begin featured post -->
<section class="featured-post">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="row">
            {% for post in site.posts %}
            {% if post.featured == true %}
              {% include article-content.html %}
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end featured post -->
{% endif %}