@use "../1-tools/grid";

/* Post + Page */
.post,
.page {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.post-head {
  margin-bottom: 64px;

  .row {
    align-items: center;
    justify-content: center;
  }

  .post-head__box {
    margin-left: 32px;
  }

  @media (max-width: grid.$desktop) {
    .post-head__box {
      margin-left: 16px;
    }
  }

  @media (max-width: grid.$tablet) {
    margin-bottom: 40px;

    .post-head__box {
      margin-left: 0;
    }
    .row {
      flex-direction: column;
    }
  }

}

.post-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.image-box {
  position: relative;
  padding-top: 90%;
  min-height: 280px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0px rgba(var(--black),0.15);

  @media (max-width: grid.$tablet) {
    padding-top: 65%;
    margin-bottom: 40px;
  }
}

.post__title {
  margin: 0 0 10px 0;
  font-size: 56px;
  line-height: 1;

  @media (max-width: 1200px) {
    font-size: 40px;
  }

  @media (max-width: grid.$mobile) {
    font-size: 32px;
  }
}

.post__bottom {
  display: flex;
  flex-direction:column;
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  color: var(--antitone-10);
}

.post_description {
  font-size: 18px;
  margin: 0px 0px 20px 0px;   
}

.post_github-link {
  margin: 20px 0px 0px 0px; 
}

.post-tags {
  .post__tag {
    padding: 4px 8px;
    margin: 2px 0;
    font-size: 12px;
    line-height: 10px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 24px;
  }
}

.post__content,
.page__content {

  img[src$='#wide'] {
    display: block;
    width: 100vw;
    max-width: none;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    pointer-events: none;
    user-select: none;
  }

  .note, .tip, .important, .warning, .caution {
    position: relative;
    padding: 20px 0 20px 52px;
    border-radius: 4px;
    color: var(--tone-10);
    background: var(--tone-10);

    &::after {
      content: "💡";
      position: absolute;
      top: 20px;
      left: 20px;
      display: block;
    }
  }

  .note {
    border-left: 3px solid var(--callout-note);
    background: rgba(var(--callout-note), .1);
  }

  .tip {
    border-left: 3px solid var(--callout-tip);
    background: rgba(var(--callout-tip), .1);
  }

  .important {
    border-left: 3px solid var(--callout-important);
    background: rgba(var(--callout-important), .1);
  }

  .warning {
    border-left: 3px solid var(--callout-warning);
    background: rgba(var(--callout-warning), .1);
  }

  .caution {
    border-left: 3px solid var(--callout-caution);
    background: rgba(var(--callout-caution), .1);
  }
}

/* Related Posts */
.related-posts {
  display: none;

  &.is-related {
    display: block;
  }

  .related-title {
    position: relative;
    padding-left: 8px;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 1;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      z-index: -1;
      transform: translateY(-50%);
      display: block;
      width: 106px;
      height: 38px;
      border-radius: 4px 0px 0px 4px;
    }
    @media (max-width: grid.$desktop) {
      font-size: 24px;
    }
  }
}