/* Buttons */
.button {
  display: inline-block;
  pointer-events: auto;
  white-space: nowrap;
  vertical-align: middle;
  font: inherit;
  border: none;
  border-radius: 8px;
  outline: none;
  -webkit-appearance: none;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;

  color: var(--text-color);
  background-color: var(--button-color);

  &:hover {
    background-color: var(--button-active-color);
    color: var(--text-color);
  }

  &--primary {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
  }

  &--links__page {
      margin: 1rem 0 1rem; 
      width: 100%; 
      display: flex; 
      font-size: 16px;
      font-weight: 700;
      font-family: $heading-font-family;
      text-transform: uppercase;
      line-height: 1;
      align-items: center;
      text-align: center;
      padding: 0; 
      height: 4.5rem; 
      position: relative;
      justify-content: center;

      span {
        flex: 1; 
        text-align: center; 
        padding: 0.5rem;
      }
  }

  &--icon {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    border-radius: 8px;
  }
}

.button-image {
  height: 100%; 
  margin: 0; 
  padding: 0; 
  position: absolute; 
  left: 0;

  img {
    height: 4.5rem; 
    border-radius: 8px 0 0 8px;
    width: auto; 
    margin: 0; 
    padding: 0; 
    display: block;
  }

}