.light-dark-toggle__checkbox {
  opacity: 0;
  position: absolute;
}

.light-dark-toggle__checkbox-label {
  background-color: var(--toggle-background);
  width: 55px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: var(--toggle-background);
  html.dark & {
    color: var(--toggle-accent);
  }
}

.fa-sun {
  color: var(--toggle-accent);
  html.dark & {
    color: var(--toggle-background);
  }
}

.light-dark-toggle__checkbox-label .light-dark-toggle__ball {
  background-color: var(--toggle-accent);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.15s ease;
}

.light-dark-toggle__checkbox:checked + .light-dark-toggle__checkbox-label .light-dark-toggle__ball {
  transform: translateX(27px);
}