---
layout: default
---

<!-- begin hero -->
{% if page.image %}
<section class="hero">
  <div class="hero__inner">
    <div class="hero__image">
      <img class="lazy" data-src="{{ page.image | relative_url }}" alt="{{ page.title }}">
    </div>
    <div class="hero__content">
      {% unless page.hide_title %}
        <h1 class="hero__title">{{page.title}}</h1>
      {% endunless %}
    </div>
  </div>
</section>
{% else %}
<section class="hero-without-image">
  <div class="hero-inner">
    <div class="hero-content">
      {% unless page.hide_title %}
        <h1 class="hero__title">{{ page.title }}</h1>
      {% endunless %}
      {% if page.hero_avatar %}
        {% include avatar.html image=page.hero_avatar %}
      {% endif %}
      {% if page.hero_subtitle %}
        <p>{{page.hero_subtitle | newline_to_br }}</p>
      {% endif %}
      {% if page.hero_social_links %}
        {% include social-links.html %}
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
<!-- begin hero -->

<!-- begin page -->
<div class="container">
  <article class="page">
    <div class="page__content background-blur animate-with-blur">
        {{ content }}
    </div>
  </article>
</div>
<!-- end page -->