---
layout: default
---

{% include hero.html %}

<div class="container">
  <div class="row grid">
  {% include widget-filter.html %}
  </div>
</div>

{% include featured-posts.html %}

<div class="container">
  <div class="row grid">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts %}
        {% if post.featured != true and post.status == 'complete' %}
          {% include article-content.html %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}