// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Transition
$global-transition: all .2s;


// *****************
// Color Variables
// *****************

:root{

	--background-effect-icon: '♥';

	--white: #fff;
	--lightest-gray: #eee;
	--light-gray: #ddd;
	--mid-light-gray: #aaa;
	--mid-gray: #8b8680;
	--mid-dark-gray: #5e5e5e;
	--dark-gray: #2E2E2E;
	--darkest-gray: #222;
	--black: #000;

	--brand-color: #FF80AB;
	--brand-color-rgb: 100, 50, 67;
	--brand-color-rgb-02: rgba(100, 50, 67, 1);
	--brand-color-rgb-03: rgba(100, 50, 67, 1);
	--brand-color-rgb-04: rgba(100, 50, 67, 1);

	--moon-blue: #8a41ff;
	--sun-yellow: #efaa05;
}


:root {
	--background-color: var(--lightest-gray);
	--text-selection: var(--white);

	--text-color: black;
	--heading-color: black;
	
	--button-color: var(--mid-light-gray);
	--button-active-color: var(--brand-color);
	
	--table-shade: var(--lightest-gray);
	
	--tag-color: var(--mid-dark-gray);
	--tag-active-color: var(--brand-color);

	--toggle-background: var(--light-gray);
	--toggle-accent: var(--dark-gray);

	--gallery-background: var(--light-gray);

	--avatar-border: var(--darkest-gray);

	--form-background: var(--light-gray);
	--form-placeholder: var(--darkest-gray);

	--callout-note: #0a69da;
	--callout-tip: #1a7f38;
	--callout-important: #8251e0;
	--callout-warning: #9b6800;
	--callout-caution: #cf222e;

	--tone-10: white;
	--tone-09: rgba(255,255,255, 0.9);
	--tone-08: rgba(255,255,255, 0.8);
	--tone-07: rgba(255,255,255, 0.7);
	--tone-06: rgba(255,255,255, 0.6);
	--tone-05: rgba(255,255,255, 0.5);
	--tone-04: rgba(255,255,255, 0.4);
	--tone-03: rgba(255,255,255, 0.3);
	--tone-02: rgba(255,255,255, 0.2);
	--tone-01: rgba(255,255,255, 0.1);

	--antitone-10: rgb(0,0,0);
	--antitone-09: rgba(0,0,0, 0.9);
	--antitone-08: rgba(0,0,0, 0.8);
	--antitone-07: rgba(0,0,0, 0.7);
	--antitone-06: rgba(0,0,0, 0.6);
	--antitone-05: rgba(0,0,0, 0.5);
	--antitone-04: rgba(0,0,0, 0.4);
	--antitone-03: rgba(0,0,0, 0.3);
	--antitone-02: rgba(0,0,0, 0.2);
	--antitone-01: rgba(0,0,0, 0.1);
}

html.dark  {

	--background-color: var(--darkest-gray);
	--text-selection: var(--black);

	--text-color: var(--white);
	--heading-color: var(--white);
	
	--button-color: var(--dark-gray);
	--button-active-color: var(--brand-color);
	
	--table-shade: var(--darkest-gray);
	
	--tag-color: var(--mid-light-gray);
	--tag-active-color: var(--brand-color);

	--toggle-background: var(--dark-gray);
	--toggle-accent: var(--light-gray);

	--gallery-background: var(--dark-gray);

	--avatar-border: var(--lightest-gray);

	--form-background: var(--mid-dark-gray);
	--form-placeholder: var(--lightest-gray);

	--callout-note: #0a69da;
	--callout-tip: #1a7f38;
	--callout-important: #8251e0;
	--callout-warning: #9b6800;
	--callout-caution: #cf222e;

	--tone-10: rgb(0,0,0);
	--tone-09: rgba(0,0,0, 0.9);
	--tone-08: rgba(0,0,0, 0.8);
	--tone-07: rgba(0,0,0, 0.7);
	--tone-06: rgba(0,0,0, 0.6);
	--tone-05: rgba(0,0,0, 0.5);
	--tone-04: rgba(0,0,0, 0.4);
	--tone-03: rgba(0,0,0, 0.3);
	--tone-02: rgba(0,0,0, 0.2);
	--tone-01: rgba(0,0,0, 0.1);

	--antitone-10: white;
	--antitone-09: rgba(255,255,255, 0.9);
	--antitone-08: rgba(255,255,255, 0.8);
	--antitone-07: rgba(255,255,255, 0.7);
	--antitone-06: rgba(255,255,255, 0.6);
	--antitone-05: rgba(255,255,255, 0.5);
	--antitone-04: rgba(255,255,255, 0.4);
	--antitone-03: rgba(255,255,255, 0.3);
	--antitone-02: rgba(255,255,255, 0.2);
	--antitone-01: rgba(255,255,255, 0.1);
}

// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
$base-line-height: 1.7;

// Headings
$heading-font-weight: 900;
$heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.4em;
$heading-letter-spacing: -1px;